* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

ul, ol {
  list-style: none;
}

a {
  text-decoration: none;
}

nav, ol, ul, span, div, button, ul, li, section, img {
  margin: 0px;
  padding: 0px;
}

#top_header01 {
  padding: 10px 0px;
}

#top_header01 .top_header_right ul {
  text-align: right;
}

#top_header01 .top_header_right ul li {
  display: inline-block;
  padding-left: 25px;
}

#top_header01 .top_header_right ul select {
  border: none;
  background: transparent;
}

#middle_header {
  height: 80px;
  background-color: #0069aa;
}

#banner {
  position: relative;
}

#nav_section {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  z-index: 5;
}

#nav_section .navbar a {
  color: #fff;
  padding-left: 60px;
  font-size: 22px;
  transition: .5s;
}

#nav_section .navbar a:hover {
  color: #c2ce24;
}

#nav_section .navbar button {
  color: #fff;
}

#nav_section .navbar .navbar-toggler {
  border: none;
}

#nav_section .menu-area {
  position: static;
}

#nav_section .mega-area {
  position: absolute;
  width: 100%;
  left: 0;
  right: 0;
  padding-left: 150px;
  margin: 0;
  padding-top: 30px;
}

#nav_section .drop_menu {
  margin-right: 80px;
}

#nav_section .drop_menu h5 {
  color: #0069aa;
}

#nav_section .drop_menu a {
  color: black;
  padding-left: 0px;
  font-size: 18px;
}

#nav_section .navbar-toggler:focus {
  box-shadow: none;
}

#nav_section .offcanvas-header .btn-close {
  color: #c2ce24;
  background-color: #fff;
}

#nav_section .offcanvas {
  background-color: #0069aa;
}

#nav_section .offcanvas .btn-close {
  color: #ffffff;
}

#nav_section .offcanvas li {
  padding: 10px 0px;
  transition: .5s;
}

#nav_section .offcanvas li a {
  display: inline;
  color: #fff;
  font-size: 18px;
  transition: .5s;
}

#nav_section .offcanvas li a:hover {
  color: #c2ce24;
  padding-left: 4px;
}

#nav_section .offcanvas li span {
  color: #fff;
  transition: .5s;
}

#nav_section .offcanvas li:hover span {
  color: #c2ce24;
}

#mobile_nav_section .container {
  padding: 0px;
}

#mobile_nav_section .navbar {
  background-color: #f0ecec;
}

#mobile_nav_section .navbar-toggler-icon {
  font-size: 30px;
  line-height: 40px;
}

#mobile_nav_section .navbar-toggler:focus {
  box-shadow: none;
}

#mobile_nav_section .offcanvas.show {
  background-color: #0069aa;
  width: 60%;
}

#mobile_nav_section .navbar-nav .nav-link {
  color: #fff;
  transition: .5s;
  font-size: 18px;
}

#mobile_nav_section .navbar-nav .nav-link:hover {
  color: #c0ce23;
  padding-left: 5px;
}

#mobile_nav_section .offcanvas-header .btn-close {
  background-color: #fff;
}

#banner {
  background: url(../img/Frame17.png);
  background-position: center;
  background-size: cover;
  height: 650px;
  width: 100%;
  position: relative;
  background-color: #bebcbc;
  display: flex;
  align-items: center;
}

#banner::after {
  position: absolute;
  content: '';
  background-color: rgba(0, 0, 0, 0.5);
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}

#banner .banner_cnt {
  z-index: 3;
  color: #fff;
  text-align: center;
}

#banner .banner_cnt h2 {
  font-size: 48px;
  font-weight: 700;
}

#text_section {
  padding-top: 100px;
  padding-bottom: 300px;
  background-color: #bebcbc;
  clip-path: polygon(0 0, 100% 0, 100% 68%, 0 99%);
}

#text_section .right_text {
  padding: 0px;
}

#text_section .right_text p {
  font-size: 18px;
  line-height: 26px;
  text-align: justify;
}

#text_section .right_text li {
  list-style: circle;
  font-size: 18px;
  line-height: 26px;
  text-align: justify;
  margin-left: 30px;
}

#footer_search {
  margin: 40px 0px;
  text-align: center;
}

#footer_search .footer_search_box input {
  width: 800px;
  height: 50px;
  padding-left: 30px;
  padding-right: 50px;
  font-size: 18px;
  border: none;
  box-shadow: -3px 3px 3px #5555;
}

#footer_search .footer_search_box button {
  border: none;
  padding: 10px 40px;
  background-color: #0d95e9;
  height: 50px;
  font-size: 18px;
  font-weight: bold;
  color: #f0ecec;
  box-shadow: 0px 4px 3px #5555;
}

#footer_search span {
  margin-left: -40px;
  padding-right: 30px;
  font-size: 20px;
  color: #c4c4c4;
}

#mobile_search {
  margin: 40px 0px;
  text-align: center;
}

#mobile_search input {
  width: 250px;
  height: 50px;
  padding-left: 10px;
  padding-right: 40px;
  font-size: 18px;
  border: none;
  box-shadow: -3px 3px 3px #5555;
}

#mobile_search button {
  border: none;
  padding: 10px 15px;
  background-color: #0d95e9;
  height: 50px;
  font-size: 18px;
  font-weight: bold;
  color: #f0ecec;
  box-shadow: 0px 4px 3px #5555;
}

#mobile_search span {
  margin-left: -30px;
  padding-right: 20px;
  font-size: 20px;
  color: #c4c4c4;
}

#footer {
  padding-top: 300px;
  background-color: #0069aa;
  clip-path: polygon(0 39%, 100% 0, 100% 100%, 0% 100%);
  color: #fff;
}

#footer .footer_items1 p {
  font-size: 20px;
}

#footer .footer_items2 a {
  font-size: 20px;
  color: #fff;
  transition: .5s;
}

#footer .footer_items2 a:hover {
  padding: 10px;
}

#footer .footer_items2 ul {
  margin-left: 40px;
}

#footer .footer_items3 ul {
  margin-left: 30px;
}

#footer .footer_items3 a {
  font-size: 20px;
  color: #fff;
  transition: .5s;
}

#footer .footer_items3 a:hover {
  padding: 3px;
}

#footer .footer_items4 ul {
  text-align: right;
}

#footer .footer_items4 li {
  display: inline-block;
  margin: 0px 12px;
}

#footer .footer_items4 a {
  height: 40px;
  width: 40px;
  background-color: #ced8de;
  display: block;
  font-size: 24px;
  color: #0069aa;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
}

#footer .footer_logo ul {
  text-align: center;
}

#footer .footer_logo li {
  display: inline-block;
  margin: 0px 40px;
  margin-top: 30px;
}

#footer .footer_copyright {
  text-align: center;
  margin-top: 30px;
}

#footer .footer_copyright p {
  font-size: 20px;
}

#mobile_footer {
  padding-top: 100px;
  padding-bottom: 50px;
  background-color: #0069aa;
  clip-path: polygon(0 9%, 100% 0, 100% 100%, 0% 100%);
  color: #fff;
  text-align: center;
}

#mobile_footer .footer_items1 {
  margin-bottom: 20px;
}

#mobile_footer .footer_items1 ul {
  text-align: center;
}

#mobile_footer .footer_items1 li {
  display: inline-block;
  margin: 0px 12px;
}

#mobile_footer .footer_items1 a {
  height: 40px;
  width: 40px;
  background-color: #ced8de;
  display: block;
  font-size: 24px;
  color: #0069aa;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
}

#mobile_footer .footer_items2 a {
  font-size: 20px;
  color: #fff;
  transition: .5s;
}

#mobile_footer .footer_items2 a:hover {
  padding-left: 10px;
}

#mobile_footer .footer_items2 ul {
  text-align: center;
}

#mobile_footer .footer_items3 ul {
  text-align: center;
}

#mobile_footer .footer_items3 a {
  font-size: 20px;
  color: #fff;
  transition: .5s;
}

#mobile_footer .footer_items3 a:hover {
  padding-left: 10px;
}
